@import 'tailwindcss';
@plugin 'daisyui';

@plugin "daisyui/theme" {
  name: "stayin";
  default: true;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(98% 0.019 200.873);
  --color-base-200: oklch(60% 0.126 221.723);
  --color-base-300: oklch(52% 0.105 223.128);
  --color-base-content: oklch(0.0% 0.000 236.6);
  --color-primary: oklch(51% 0.262 276.966);
  --color-primary-content: oklch(93% 0.034 272.788);
  --color-secondary: oklch(52% 0.223 3.958);
  --color-secondary-content: oklch(94% 0.028 342.258);
  --color-accent: oklch(85% 0.138 181.071);
  --color-accent-content: oklch(38% 0.063 188.416);
  --color-neutral: oklch(39% 0.09 240.876);
  --color-neutral-content: oklch(92% 0.004 286.32);
  --color-info: oklch(68% 0.169 237.323);
  --color-info-content: oklch(29% 0.066 243.157);
  --color-success: oklch(69% 0.17 162.48);
  --color-success-content: oklch(37% 0.077 168.94);
  --color-warning: oklch(76% 0.188 70.08);
  --color-warning-content: oklch(41% 0.112 45.904);
  --color-error: oklch(64% 0.246 16.439);
  --color-error-content: oklch(27% 0.105 12.094);
  --radius-selector: 2rem;
  --radius-field: 1rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.21875rem;
  --border: 1px;
  --depth: 1;
  --noise: 1;
}
